.breadcrumb-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12% 0 90px;
    position: relative;
    width: 100%;
}
.breadcrumb-image::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.card{
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
}

.card-img-top{
    max-width: 540px;
    max-height: 180px;
    margin: auto;
}

#achievedProjects .card {
    cursor: pointer;
    box-shadow: 0px 5px 10px -3px #222222;
    transition: all 0.2s;
}

#achievedProjects .card:hover {
    cursor: pointer;
    box-shadow: 0px 15px 35px -3px #222222;
    transform: scale(1.02);
}

#achievedProjects .card:hover .line_separator_black{
    transform: scaleX(1.1);
}

.line_separator_white{
    min-width: 15em;
    width: 50%;
    height: 2px;
    background-color: white;
    margin-bottom: 2em;
    border-radius: 2px;
}

.line_separator_black{
    min-width: 15em;
    width: 50%;
    height: 2px;
    background-color: #888888;
    margin-bottom: 1em;
    border-radius: 2px;
    transition: all 0.2s;
}

footer{
    margin-top: 1em;
}

footer img{
    border-radius: 5px;
    margin-right: 1em;
    margin-left: 1em;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    bottom: 0px;
    box-shadow: 0px 5px 10px -3px #222222;
    transition: all 0.2s;
}

footer img:hover{
    box-shadow: 0px 11px 20px -2px #222222;
    cursor: pointer;
    transform: scale(1.1);
}

.carousel {
    max-width: 1110px;
    max-height: 634px;
}

.carousel-item img{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}