.breadcrumb-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12% 0 90px;
    position: relative;
    width: 100%;
}
.breadcrumb-image::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.card{
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
}

.card:hover{
    border: 1px solid #2196F3;
}

.card-img-top{
    max-width: 540px;
    max-height: 180px;
    margin: auto;
}