#loadingText{
    margin: 15% auto;
    width: 150px;
    height: 150px;
    display: block;
}

#pre{
    float: left;
}

#post{
    float: right;
}

.button2{
    border: none;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s;
    cursor: pointer;
    background-color: #4EA699;
    display: inline-block;
    padding: 7px;
}

.button2:hover{
    background-color: #61D6BB;
}

.arrow{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #1E88E5;
    border-radius: 40px;
    line-height: 1.1em;
}

.disabled{
    cursor: default;
    background-color: #999999;
}

.disabled:hover{
    background-color: #999999;
}